/* MISIÓN 1 completada */
body {
    background-color: #3687E3; /* azul claro */
}
/* MISIÓN 2 completada */
h1 {
    color: #f39c12; /* Naranja brillante */
    font-family: Arial, sans-serif;
    text-align: center; /* Opcional: para centrar el título */
}
/* MISIÓN 3 completada */
p {
    color: white;
    font-size: 20px;
}
/* MISIÓN 4 completada */
img {
    border: 5px solid #f39c12; /* Borde naranja que combina con el título */
    border-radius: 50%; /* Esto hace el círculo perfecto */
}